@use "../../styles/common.scss";

.home-view {
  height: 100%;
  max-height: common.dp(580);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .fishing-emoji {
    font-size: common.dp(160);
  }

  .title {
    font-weight: 400;
    letter-spacing: common.dp(1.2);
    font-size: common.dp(48);
    margin-bottom: common.dp(8);
  }

  .actions {
    margin-top: common.dp(32);
  }

  .install-button {
    @include common.button();
    font-size: common.dp(24);
  }
}
