@use "font";
@use "colors";

@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Fira+Sans:wght@400;500&family=Kirang+Haerang&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: colors.$black;
  background-color: colors.$white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: font.$family-fun;
}

.blurple {
  color: colors.$blurple;
}
