$cerulean: #0081a7ff;
$verdigris: #00afb9ff;
$light-yellow: #fdfcdcff;
$light-orange: #fed9b7ff;
$bittersweet: #f07167ff;
$white: #fff;

// Discord purple
$blurple: #5865f2;

$background: $light-yellow;
$text: #001219;
